html {
  overflow-x: hidden;
  background-color: #99ffcc;
  font-family: 'Cantarell', sans-serif;
}

body {
  background-color: #99ffcc;
}

#newtodoo {
  padding-bottom: 1.5em;
}

h2 {
  padding-bottom: 1em;
}

.container_all_todos {
  padding-bottom: 2em;
}

