html {
  overflow-x: hidden;
  background-color: #99ffcc;
  font-family: 'Cantarell', sans-serif;
/*  background: url("/world.jpg") no-repeat center center fixed;
  background-size: cover;*/
}

* {
  font-family: 'Cantarell', sans-serif;
  font-weight: 700;
}

body {
  background-color: #99ffcc;
}

#newtodoo {
  padding-bottom: 1.5em;
}

h2 {
  padding-bottom: 1em;
  font-family: 'Cantarell', sans-serif;
}

.container_all_todos {
  padding-bottom: 2em;
}

